PRIVATE_KEY=
OPBNB_RPC_URL=https://opbnb-testnet-rpc.bnbchain.org
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
OPBNB_SCAN_API_KEY=
BSC_SCAN_API_KEY=
VITE_CREATOR_REGISTRY_ADDRESS=
VITE_CONTENT_PUBLISHING_ADDRESS=
VITE_VOTING_SYSTEM_ADDRESS=
VITE_REWARD_DISTRIBUTOR_ADDRESS=
